# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
build

# Environment variables
.env

# Logs
logs
*.log

# Temporary files
tmp
temp
.DS_Store

# Version control
.git
.gitignore

# IDE and editor files
.vscode
.idea
*.swp
*.swo

# Other files
coverage
*.tgz

